<%-include('./inc/_header.ejs');%>
<main>
    <%- include('./pages/feature.ejs'); %>
    <%- include('./pages/product.ejs'); %>
    <%- include('./pages/journal.ejs'); %>
    <%- include('./pages/about.ejs'); %>
    <%- include('./pages/shoplist.ejs'); %>
</main>
<%-include('./inc/_footer.ejs');%>