<div class="c-journal__item <%= className%>">
  <div class="gutter">
      <div class="c-journal__image">
          <img src="./assets/img/journal/<%= img %>" alt="">
      </div>
      <h4 class="c-journal__title">
          <%= title%>
      </h4>
      <span class="c-journal__description"><%= description %></span>
      <div class="c-journal__bottom u-flex u-j-between u-a-center">
          <a href="#">Read More</a>
          <div class="">
              <span class="c-journal__cat"><%= cat %></span>
              <span class="c-journal__date"><%= date %></span>
          </div>
      </div>
  </div>
</div>